<% if @newUser.errors.any? %>
 <div id="error_explanation">
  <div class="alert alert-danger">
    The form contains <%= pluralize(@newUser.errors.count, "error") %>.
  </div>
  <ul>
  <% @newUser.errors.full_messages.each do |error| %>
   <li> <%= error %> </li>
  <% end %>
  </ul>
  </div>
<% end %>